@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Heebo", serif;
    font-style: normal;
    overflow-x: hidden;
  }

  :root {
    --background: #003366;
    --text2: #FFFFFF;
    --cta: #C9F31D;
    --black: #000;
  }

  /* header/navbar starter here */

  .menu-icon {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  header {
    overflow: hidden;
    margin-bottom: 40px;
  }

  nav {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 60px;
    color: var(--black);
    overflow: hidden;
    background: var(--background);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 3px 5px var(--black);
  }

  .nav-container {
    display: inline-flex;
    width: auto;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    gap: 20px;
  }

  .logo {
    width: 12%;
    height: 10%;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .nav-container ul {
    display: inline-flex;
    gap: 22px;
    justify-content: space-between;
    font-size: 16px;
    list-style-type: none;
  }

  nav ul li a {
    color: var(--text2);
    text-decoration: none;
    font-size: 16px;
  }

  nav ul li a:hover {
    color: var(--cta);
  }

  nav button {
    display: flex;
    width: auto;
    background: var(--cta);
    font-size: 18px;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px;
  }

  .nav-btn2 {
    display: none;
  }

  /* nav ends here */

  /* business section satrts here */

  .business {
    display: block;
    background: var(--background);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background-image: url(/img/darkened_image.jpg);
    background-position: center;
    background-size: cover;
  }
  

  .container1 {
    width: auto;
    padding: 20px 60px;
    height: 100%;
    color: var(--text2);
  }

  .hero-section {
    width: auto;
    height: 100%;
    display: block;
    text-align: center;
    padding: 80px 60px;
  }

  .hero-section h1 {
    font-size: 52px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .hero-section p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 180px;
  }

  /* business section ends here */
  /* course listing starts here */
  .all-course {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    overflow: hidden;
    color: var(--text2);
    background-position: center;
    justify-content: space-evenly;
    padding: 50px 0;
  }

  .stressed {
    width: auto;
    height: 100%;
    padding: 20px 60px;
  }

  .stressed h2 {
    font-size: 42px;
    line-height: 1;
    margin: 0;
    padding: 10px 0
  }

  .container2 {
    display: flex;
    /* width: auto; */
    height: 100%;
    padding: 10px 0px;
    margin: 0;
    gap: 20px;
    margin-bottom: 10px;
  }

  .course {
    background: #2c69a5c5;
    background-image: url(/img/download.png);
    color: var(--text2);
    padding: 40px 20px;;
    border-radius: 20px;
    width: 100%;
    height: auto;
  }

  .course:hover {
    box-shadow: 1px 1px 5px var(--text2), inset 1px 1px 5px var(--text2);
    transform: scale(1.04);
    transition: all 0.5s ease;
    ;
  }

  .course h2 {
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  .course p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 0;
  }

  .course button {
    display: inline-flex;
    width: 40%;
    height: auto;
    padding: 12px 10px;
    font-size: 16px;
    background: var(--cta);
    color: var(--black);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid var(--background);
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--black);
  }

  .course svg {
    width: 16%;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .course button:hover svg {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    margin-left: 5px;
  }

  #coursee2 {
    padding: 10px 0px;
    margin: 0;
  }

  .stressed2 {
    width: auto;
    height: 100%;
    padding: 40px 60px;
    background: var(--cta);
  }

  .stressed2 h3 {
    font-size: 42px;
    line-height: 1;
    margin: 0;
    padding: 10px 0;
    color: var(--black);
  }

  #course2 {
    background: #dcf969cd;
    background-image: url(/img/download.png);
    background-size: center;
    color: var(--black);
  }

  #course2:hover {
    transform: scale(1.04);
    box-shadow: 1px 1px 5px var(--background), inset 1px 1px 5px var(--background);
  }

  #course2 button {
    background: var(--background);
    color: var(--text2)
  }
  /* main sections ends here and footer starts here */

  /* footer starts here */

  footer {
    display: block;
    background: var(--background);
    overflow: hidden;
    padding: 40px 60px 20px 60px;
  }

  .footer-container {
    display: inline-flex;
    color: var(--text2);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 40px
  }

  .call {
    width: 60%;
    background: var(--cta);
    color: var(--black);
    padding: 30px;
    border-top-right-radius: 40px;
    text-align: left;
    transform: rotate(60deg);
    transition: transform 1s ease;
  }

  .call h4 {
    font-size: 34px;
    margin: 0;
    line-height: 1.2;
    word-wrap: normal;
    word-break: normal;
  }

  .call p {
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 0px;
    line-height: 1.5;
    width: 90%;
  }

  .footer-links {
    display: block;
    height: 60%;
    width: auto;
    text-align: center;
    padding: 30px;
    background: var(--cta);
    border-radius: 40px;
  }

  .footer-links a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    line-height: 2.3;
  }

  .footer-links a:hover {
    color: var(--background)
  }

  form {
    width: 70%;
    background: var(--cta);
    padding: 30px;
    color: var(--black);
    border-top-left-radius: 40px;
    transform: rotate(85deg);
    transition: transform 1s ease;
  }

  form h5 {
    font-size: 34px;
    margin: 0;
    padding: 0;
  }

  form p {
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
  }

  form input {
    border-radius: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 15px;
    background: var(--black);
    border: 2px solid var(--black);
    font-size: 16px;
    color: var(--cta);
  }

  input:hover {
    border: 2px solid var(--cta);
    background: var(--black);
    color: var(--cta);
    transition: 0.5s ease;
  }

  input::placeholder {
    color: var(--cta);
  }

  input:hover::placeholder {
    color: var(--cta);
  }

  input:focus::placeholder {
    color: var(--cta);
  }

  input:focus {
    background: var(--black);
    border: 2px solid var(--cta);
    box-shadow: 0 0 5px var(--black);
  }

  form button {
    padding: 15px 30px;
    border: 2px solid var(--black);
    background: var(--black);
    border-radius: 50px;
    color: var(--cta);
    font-size: 16px;
    margin-left: 2%;
    cursor: pointer;
    margin-top: 20px;
  }

  .cont-us {
    padding: 0;
    margin-top: 15px;
    display: block;
  }

  .cont-us h5 {
    font-size: 34px;
    margin: 0px;
    padding: 0;
  }

  .cont-us span {
    font-size: 14px;
    display: inline-flex;
    gap: 10px;
    margin-top: 5px;
  }

  .cont-us span svg {
    width: 5%
  }

  .call-carrier {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 40px;
  }

  .socials {
    display: block;
    width: 30%;
    justify-content: center;
    transform: rotate(-80deg);
    transition: transform 1s ease;
  }

  .social-logos {
    width: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--cta);
    margin-top: 10px;
    padding: 8px 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .social-logos span {
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--cta);
    padding: 10px 10px;
    border-radius: 40px;
    display: flex;
  }

  .social-logos h1 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--black);
  }

  .social-logos span img {
    width: 100%;
    height: 15%;
  }

  .social-logos span img a {
    text-decoration: none;
  }

  .brand-logo {
    width: 90%;
    height: auto;
    margin-top: 50px
  }

  .brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer:hover .call {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover .socials {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover form {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  hr {
    margin-top: 30px;
    border: 1px solid var(--cta)
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    color: var(--text2);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
  }

  .copyright a {
    text-decoration: none;
    color: var(--text2);
    margin-top: 10px;
    font-size: 12px;
  }

  /* footer ends here */
}



@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Heebo", serif;
    font-style: normal;
    overflow-x: hidden;
  }

  :root {
    --background: #003366;
    --text2: #FFFFFF;
    --cta: #C9F31D;
    --black: #000;
  }

  /* header/navbar starter here */

  .menu-icon {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  header {
    overflow: hidden;
    margin-bottom: 40px;
  }

  nav {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    color: var(--black);
    overflow: hidden;
    background: var(--background);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 3px 5px var(--black);
  }

  .nav-container {
    display: inline-flex;
    width: auto;
    padding: 0px;
    justify-content: space-around;
    margin: 0;
    gap: 10px;
  }

  .logo {
    width: 12%;
    height: 10%;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .nav-container ul {
    display: inline-flex;
    gap: 20px;
    justify-content: space-between;
    font-size: 16px;
    list-style-type: none;
  }

  nav ul li a {
    color: var(--text2);
    text-decoration: none;
    font-size: 16px;
  }

  nav ul li a:hover {
    color: var(--cta);
  }

  nav button {
    display: flex;
    width: auto;
    background: var(--cta);
    font-size: 17px;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0;
    text-align: center;
  }

  .nav-btn2 {
    display: none;
  }

  /* nav ends here */

  /* business section satrts here */

  .business {
    display: block;
    background: var(--background);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background-image: url(/img/darkened_image.jpg);
    background-position: center;
    background-size: cover;
  }

  .container1 {
    width: auto;
    padding: 20px 40px;
    height: 100%;
    color: var(--text2);
  }

  .hero-section {
    width: auto;
    height: 100%;
    display: block;
    text-align: center;
    padding: 80px 60px;
  }

  .hero-section h1 {
    font-size: 52px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .hero-section p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 60px;
  }

  /* business section ends here */
  /* course listing starts here */
  .all-course {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    overflow: hidden;
    color: var(--text2);
    background-position: center;
    justify-content: space-evenly;
    padding: 50px 0;
  }

  .stressed {
    width: auto;
    height: 100%;
    padding: 20px 40px;
  }

  .stressed h2 {
    font-size: 38px;
    line-height: 1;
    margin: 0;
    padding: 10px 0
  }

  .container2 {
    display: flex;
    width: auto;
    height: 100%;
    padding: 10px 0px;
    margin: 0;
    gap: 20px;
    margin-bottom: 10px;
  }

  .course {
    background: #2c69a5c5;
    background-image: url(/img/download.png);
    color: var(--text2);
    padding: 40px 20px;;
    border-radius: 20px;
    width: 100%;
    height: auto;
  }

  .course:hover {
    box-shadow: 1px 1px 5px var(--text2), inset 1px 1px 5px var(--text2);
    transform: scale(1.04);
    transition: all 0.5s ease;
    ;
  }

  .course h2 {
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  .course p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 0;
  }

  .course button {
    display: inline-flex;
    width: 50%;
    height: auto;
    padding: 10px 10px;
    font-size: 16px;
    background: var(--cta);
    color: var(--black);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid var(--background);
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--black);
  }

  .course svg {
    width: 16%;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .course button:hover svg {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    margin-left: 5px;
  }

  #coursee2 {
    background: var(--cta);
    padding: 10px 0px;
    margin: 0;
  }

  .stressed2 {
    width: auto;
    height: 100%;
    padding: 40px 40px;
    background: var(--cta);
  }

  .stressed2 h3 {
    font-size: 38px;
    line-height: 1;
    margin: 0;
    padding: 10px 0;
    color: var(--black);
  }

  #course2 {
    background: #dcf969cd;
    background-image: url(/img/download.png);
    background-size: center;
    color: var(--black);
  }

  #course2:hover {
    transform: scale(1.04);
    box-shadow: 1px 1px 5px var(--background), inset 1px 1px 5px var(--background);
  }

  #course2 button {
    background: var(--background);
    color: var(--text2)
  }
  /* main sections ends here and footer starts here */

  /* footer starts here */

  footer {
    display: block;
    background: var(--background);
    overflow: hidden;
    padding: 30px 30px 20px 20px;
    width: auto;
  }

  .footer-container {
    display: inline-flex;
    color: var(--text2);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 10px
  }

  .call {
    width: 50%;
    background: var(--cta);
    color: var(--black);
    padding: 20px;
    border-top-right-radius: 40px;
    text-align: left;
    transform: rotate(60deg);
    transition: transform 1s ease;
  }

  .call h4 {
    font-size: 30px;
    margin: 0;
    line-height: 1.2;
    word-wrap: normal;
    word-break: normal;
  }

  .call p {
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 0px;
    line-height: 1.5;
    width: 90%;
  }

  .footer-links {
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    padding: 40px 0;
    background: var(--cta);
    border-radius: 40px;
  }

  .footer-links a {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    line-height: 2.3;
  }

  .footer-links a:hover {
    color: var(--background)
  }

  form {
    width: 50%;
    background: var(--cta);
    padding: 20px;
    color: var(--black);
    border-top-left-radius: 40px;
    transform: rotate(85deg);
    transition: transform 1s ease;
  }

  form h5 {
    font-size: 28px;
    margin: 0;
    padding: 0;
  }

  form p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
  }

  form input {
    border-radius: 50px;
    padding: 12px 10px;
    background: var(--black);
    border: 2px solid var(--black);
    font-size: 14px;
    color: var(--cta);
    margin-top: 10px;
  }

  .form-div {
    display: flex;
    width: 100%;
    gap: 10px;
  }

  input:hover {
    border: 2px solid var(--cta);
    background: var(--black);
    color: var(--cta);
    transition: 0.5s ease;
  }

  input::placeholder {
    color: var(--cta);
  }

  input:hover::placeholder {
    color: var(--cta);
  }

  input:focus::placeholder {
    color: var(--cta);
  }

  input:focus {
    background: var(--black);
    border: 2px solid var(--cta);
    box-shadow: 0 0 5px var(--black);
  }

  form button {
    padding: 5px 30px;
    border: 2px solid var(--black);
    background: var(--black);
    border-radius: 50px;
    color: var(--cta);
    font-size: 14px;
    margin-left: 0;
    cursor: pointer;
    margin-top: 10px;
  }

  .cont-us {
    padding: 0;
    margin-top: 15px;
    display: block;
  }

  .cont-us h5 {
    font-size: 28px;
    margin: 0px;
    padding: 0;
  }

  .cont-us span {
    font-size: 13px;
    display: inline-flex;
    gap: 10px;
    margin-top: 5px;
  }

  .cont-us span svg {
    width: 5%
  }

  .call-carrier {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
  }

  .socials {
    display: block;
    width: 30%;
    justify-content: center;
    transform: rotate(-80deg);
    transition: transform 1s ease;
    /* height: 125%; temporary */
  }

  .social-logos {
    width: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--cta);
    margin-top: 30px;
    padding: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .social-logos span {
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--cta);
    padding: 10px 10px;
    border-radius: 40px;
    display: flex;
  }

  .social-logos h1 {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--black);
  }

  .social-logos span img {
    width: 100%;
    height: 15%;
  }

  .social-logos span img a {
    text-decoration: none;
  }

  .brand-logo {
    width: 70%;
    height: auto;
    margin-top: 0px
  }

  .brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer:hover .call {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover .socials {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover form {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  hr {
    margin-top: 30px;
    border: 1px solid var(--cta)
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    color: var(--text2);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
  }

  .copyright a {
    text-decoration: none;
    color: var(--text2);
    margin-top: 10px;
    font-size: 12px;
  }
}



@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Heebo", serif;
    font-style: normal;
    overflow-x: hidden;
  }

  :root {
    --background: #003366;
    --text2: #FFFFFF;
    --cta: #C9F31D;
    --black: #000;
  }

  /* header/navbar starter here */

  .menu-icon{
    display: block;
    position: absolute;
    margin: auto;
    right: 40px;
    color: var(--cta);
    font-size: 30px;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked+.menu-icon+.nav-links {
    display: flex;
  }

  header {
    overflow: hidden;
    margin-bottom: 40px;
  }

  nav {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    color: var(--black);
    overflow: visible;
    background: var(--background);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 3px 5px var(--black);
  }
  
  .nav-container {
    display: flex;
    width: auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    gap: 10px;
  }

  .logo {
    width: 15%;
    height: auto;
    padding: 0;
    margin-top: 10px;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .nav-links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 40px;
    right: 0;
    background: var(--cta);
    width: auto;
    text-align: left;
    gap: 5px;
    justify-content: space-around;
    list-style-type: none;
    padding: 30px;
    border-top-left-radius: 40px;
  }

  nav ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.7;
  }

  nav ul li a:hover {
    color: var(--cta);
  }

  .nav-btn {
    display: none;
    width: auto;
    text-align: center;
    background: var(--cta);
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  .nav-btn2 {
    display: flex;
    width: auto;
    text-align: center;
    background: var(--black);
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 50px;
    border: 2px solid var(--cta);
    cursor: pointer;
    color: var(--cta);
    margin-top: 10px;
  }

  /* nav ends here */

  /* business section satrts here */

  .business {
    display: block;
    background: var(--background);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background-image: url(/img/darkened_image.jpg);
    background-position: center;
    background-size: cover;
  }

  .container1 {
    width: auto;
    padding: 20px 30px;
    height: 100%;
    color: var(--text2);
  }

  .hero-section {
    width: auto;
    height: 100%;
    display: block;
    text-align: center;
    padding: 60px 0px;
  }

  .hero-section h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .hero-section p {
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 40px;
  }

  /* business section ends here */
  /* course listing starts here */

  .all-course {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    overflow: hidden;
    color: var(--text2);
    background-position: center;
    justify-content: space-evenly;
    padding: 50px 0;
  }

  .stressed {
    width: auto;
    height: 100%;
    padding: 0px 30px;
  }

  .stressed h2 {
    font-size: 32px;
    line-height: 1;
    margin: 0;
    padding: 10px 0
  }

  .container2 {
    display: flex;
    width: auto;
    height: 100%;
    padding: 10px 0px;
    margin: 0;
    gap: 20px;
    margin-bottom: 10px;
  }

  .course {
    background: #2c69a5c5;
    background-image: url(/img/download.png);
    color: var(--text2);
    padding: 40px 20px;;
    border-radius: 20px;
    width: 100%;
    height: auto;
  }

  .course:hover {
    box-shadow: 1px 1px 5px var(--text2), inset 1px 1px 5px var(--text2);
    transform: scale(1.04);
    transition: all 0.5s ease;
    ;
  }

  .course h2 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  .course p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 0;
  }

  .course button {
    display: inline-flex;
    width: 70%;
    height: auto;
    padding: 10px 10px;
    font-size: 16px;
    background: var(--cta);
    color: var(--black);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid var(--background);
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--black);
  }

  .course svg {
    width: 16%;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .course button:hover svg {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    margin-left: 5px;
  }

  #coursee2 {
    padding: 10px 0px;
    margin: 0;
  }

  .stressed2 {
    width: auto;
    height: 100%;
    padding: 20px 40px;
    background: var(--cta);
  }

  .stressed2 h3 {
    font-size: 32px;
    line-height: 1;
    margin: 0;
    padding: 10px 0;
    color: var(--black);
  }

  #course2 {
    background: #dcf969cd;
    background-image: url(/img/download.png);
    background-size: center;
    color: var(--black);
  }

  #course2:hover {
    transform: scale(1.04);
    box-shadow: 1px 1px 5px var(--background), inset 1px 1px 5px var(--background);
  }

  #course2 button {
    background: var(--background);
    color: var(--text2)
  }
  /* main sections ends here and footer starts here */

  /* footer starts here */

  footer {
    display: block;
    background: var(--background);
    overflow: hidden;
    padding: 40px 0px 20px 0px;
    justify-content: center;
    width: 100%;
  }
  
  .footer-container {
    display: grid;
    color: var(--text2);
    width: 100%;
    height: 100%;
    /* justify-content: space-around; */
    gap: 5px
  }

  .call {
    width: 50%;
    background: var(--cta);
    color: var(--black);
    padding: 20px;
    border-top-right-radius: 40px;
    text-align: left;
    transform: rotate(60deg);
    transition: transform 1s ease;
  }

  .call h4 {
    font-size: 32px;
    margin: 0;
    line-height: 1.2;
    word-wrap: normal;
    word-break: normal;
  }

  .call p {
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 0px;
    line-height: 1.5;
    width: 100%;
  }

  .footer-links {
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px ;
    background: var(--cta);
    border-radius: 40px;
  }

  .footer-links a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    line-height: 2.3;
  }

  .footer-links a:hover {
    color: var(--background)
  }

  form {
    width: auto;
    background: var(--cta);
    padding: 30px;
    margin: 10px 30px;
    color: var(--black);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: rotate(85deg);
    transition: transform 1s ease;
  }

  form h5 {
    font-size: 32px;
    margin: 0;
    padding: 0;
  }

  form p {
    font-size: 14px;
    margin: 0;
    padding: 5px 5px;
  }

  form input {
    border-radius: 50px;
    padding: 12px 10px;
    background: var(--black);
    border: 2px solid var(--black);
    font-size: 14px;
    color: var(--cta);
    margin-top: 10px;
    width: 50%;
  }

  .form-div {
    display: flex;
    width: 100%;
    gap: 5px;
  }

  input:hover {
    border: 2px solid var(--cta);
    background: var(--black);
    color: var(--cta);
    transition: 0.5s ease;
  }

  input::placeholder {
    color: var(--cta);
  }

  input:hover::placeholder {
    color: var(--cta);
  }

  input:focus::placeholder {
    color: var(--cta);
  }

  input:focus {
    background: var(--black);
    border: 2px solid var(--cta);
    box-shadow: 0 0 5px var(--black);
  }

  form button {
    padding: 5px 30px;
    border: 2px solid var(--black);
    background: var(--black);
    border-radius: 50px;
    color: var(--cta);
    font-size: 14px;
    margin-left: 0;
    cursor: pointer;
    margin-top: 10px;
  }

  .cont-us {
    padding: 0;
    margin-top: 15px;
    display: block;
  }

  .cont-us h5 {
    font-size: 32px;
    margin-top: 30px;
    padding: 0;
  }

  .cont-us span {
    font-size: 14px;
    display: inline-flex;
    gap: 12px;
    margin-top: 5px;
  }

  .cont-us span svg {
    width: 6%
  }

  .call-carrier {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
  }

  .socials {
    display: block;
    width: 30%;
    justify-content: center;
    transform: rotate(-80deg);
    transition: transform 1s ease;
  }

  .social-logos {
    width: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--cta);
    margin-top: 30px;
    padding: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .social-logos span {
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--cta);
    padding: 10px 10px;
    border-radius: 40px;
    display: flex;
  }

  .social-logos h1 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--black);
  }

  .social-logos span img {
    width: 100%;
    height: 15%;
  }

  .social-logos span img a {
    text-decoration: none;
  }

  .brand-logo {
    width: 70%;
    height: auto;
    margin-top: 0px
  }

  .brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer:hover .call {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover .socials {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover form {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  hr {
    border: 1px solid var(--cta);
    margin: 0 30px;
    margin-top: 20px;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    color: var(--text2);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0 30px;
  }

  .copyright a {
    text-decoration: none;
    color: var(--text2);
    margin-top: 15px;
    font-size: 12px;
  }
}



@media (max-width: 478px) {

  body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Heebo", serif;
    font-style: normal;
    overflow-x: hidden;
  }

  :root {
    --background: #003366;
    --text2: #FFFFFF;
    --cta: #C9F31D;
    --black: #000;
  }

  /* header/navbar starter here */

  .menu-icon {
    display: block;
    position: absolute;
    margin: auto;
    right: 20px;
    color: var(--cta);
    font-size: 22px;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked+.menu-icon+.nav-links {
    display: flex;
  }

  header {
    overflow: hidden;
    margin-bottom: 40px;
  }

  nav {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    color: var(--black);
    overflow: visible;
    background: var(--background);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 3px 5px var(--black);
  }

  .nav-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    gap: 10px;
  }

  .logo {
    width: 22%;
    height: auto;
    padding: 0;
    margin-top: 5px;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .nav-links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 25px;
    right: 0;
    background: var(--cta);
    width: auto;
    text-align: left;
    gap: 5px;
    justify-content: space-around;
    list-style-type: none;
    padding: 30px;
    border-top-left-radius: 40px;
  }

  nav ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
    line-height: 1.7;
  }

  nav ul li a:hover {
    color: var(--background);
  }

  .nav-btn {
    display: none;
    width: auto;
    text-align: center;
    background: var(--cta);
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  .nav-btn2 {
    display: flex;
    width: auto;
    text-align: center;
    background: var(--black);
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 50px;
    border: 2px solid var(--cta);
    cursor: pointer;
    color: var(--cta);
    margin-top: 8px;
  }

  /* nav ends here */

  /* business section satrts here */

  .business {
    display: block;
    background: var(--background);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    background-image: url(/img/darkened_image.jpg);
    background-position: center;
    background-size: cover;
  }

  .container1 {
    width: auto;
    padding: 20px 15px;
    height: 100%;
    color: var(--text2);
  }

  .hero-section {
    width: auto;
    height: 100%;
    display: block;
    text-align: center;
    padding: 60px 0px;
  }

  .hero-section h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .hero-section p {
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 20px;
  }

  /* business section ends here */
  /* course listing starts here */

  .all-course {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    overflow: hidden;
    color: var(--text2);
    background-position: center;
    justify-content: space-evenly;
    padding: 40px 0;
  }

  .stressed {
    width: auto;
    height: 100%;
    padding: 10px 20px;
  }

  .stressed h2 {
    font-size: 28px;
    line-height: 1;
    margin: 0;
    padding: 10px 0;
    text-align: center
  }

  .container2 {
    display: block;
    width: auto;
    height: 100%;
    padding: 0px;
    margin: 0;
    gap: 20px;
    margin-bottom: 0px;
  }

  .course {
    background: #2c69a5c5;
    background-image: url(/img/download.png);
    color: var(--text2);
    padding: 40px 20px;;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: 12px 0;
  }

  .course:hover {
    box-shadow: 1px 1px 5px var(--text2), inset 1px 1px 5px var(--text2);
    transform: scale(1.04);
    transition: all 0.5s ease;
  }

  .course h2 {
    font-size: 24px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .course p {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 10px 0;
  }

  .course button {
    display: inline-flex;
    width: 38%;
    height: auto;
    padding: 10px 10px;
    font-size: 16px;
    background: var(--cta);
    color: var(--black);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid var(--background);
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--black);
  }

  .course svg {
    width: 16%;
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .course button:hover svg {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    margin-left: 5px;
  }

  #coursee2 {
    background: var(--cta);
    padding: 0px 0px;
    margin: 0;
  }

  .stressed2 {
    width: auto;
    height: 100%;
    padding: 20px 20px;
    background: var(--cta);
  }

  .stressed2 h3 {
    font-size: 28px;
    line-height: 1;
    margin: 10px 0;
    padding: 10px 0;
    color: var(--black);
    text-align: center;
  }

  #course2 {
    background: #dcf969cd;
    background-image: url(/img/download.png);
    background-size: center;
    color: var(--black);
  }

  #course2:hover {
    transform: scale(1.04);
    box-shadow: 1px 1px 5px var(--background), inset 1px 1px 5px var(--background);
  }

  #course2 button {
    background: var(--background);
    color: var(--text2)
  }
  /* main sections ends here and footer starts here */


  /* footer starts here */

  footer {
    display: block;
    background: var(--background);
    overflow: hidden;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .footer-container {
    display: block;
    color: var(--text2);
    width: 100%;
    height: 100%;
    gap: 5px
  }

  .call {
    width: 50%;
    background: var(--cta);
    color: var(--black);
    padding: 20px;
    border-top-right-radius: 40px;
    text-align: left;
    transform: rotate(60deg);
    transition: transform 1s ease;
    height: 100%;
  }

  .call h4 {
    font-size: 28px;
    margin: 0;
    line-height: 1.2;
    word-wrap: normal;
    word-break: normal;
  }

  .call p {
    font-size: 12px;
    margin-top: 5px;
    padding: 10px 0px;
    line-height: 1.5;
    width: 100%;
  }

  form {
    width: auto;
    background: var(--cta);
    padding: 30px;
    margin: 15px 15px;
    color: var(--black);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: rotate(65deg);
    transition: transform 1s ease;
  }

  form h5 {
    font-size: 28px;
    margin: 0;
    padding: 0;
  }

  form p {
    font-size: 12px;
    margin: 0;
    padding: 0px 0px;
  }
  
  form input {
    border-radius: 50px;
    padding: 12px 10px;
    background: var(--black);
    border: 2px solid var(--black);
    font-size: 14px;
    color: var(--cta);
    margin-top: 15px;
    width: 60%;
  }

  .form-div {
    display: flex;
    width: 100%;
    gap: 5px;
  }

  input:hover {
    border: 2px solid var(--cta);
    background: var(--black);
    color: var(--cta);
    transition: 0.5s ease;
  }

  input::placeholder {
    color: var(--cta);
  }

  input:hover::placeholder {
    color: var(--cta);
  }

  input:focus::placeholder {
    color: var(--cta);
  }

  input:focus {
    background: var(--black);
    border: 2px solid var(--cta);
    box-shadow: 0 0 5px var(--black);
  }

  form button {
    padding: 5px 30px;
    border: 2px solid var(--black);
    background: var(--black);
    border-radius: 50px;
    color: var(--cta);
    font-size: 14px;
    margin-left: 0;
    cursor: pointer;
    margin-top: 10px;
  }

  .cont-us {
    padding: 0;
    margin-top: 15px;
    display: block;
  }

  .cont-us h5 {
    font-size: 28px;
    margin-top: 30px;
    padding: 0;
  }

  .cont-us span {
    font-size: 13px;
    display: inline-flex;
    gap: 12px;
    margin-top: 5px;
  }

  .cont-us span svg {
    width: 5%
  }

  .call-carrier {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 100%;
    gap: 10px;
  }

  .footer-links {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: var(--cta);
    border-radius: 40px;
  }

  .footer-links a {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    line-height: 2;
  }

  .footer-links a:hover {
    color: var(--background)
  }

  .socials {
    display: block;
    width: 30%;
    height: 100%;
    justify-content: center;
    transform: rotate(-85deg);
    transition: transform 1s ease;
  }

  .social-logos {
    width: auto;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background: var(--cta);
    margin-top: 15px;
    padding: 8px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .social-logos span {
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--cta);
    padding: 10px 10px;
    border-radius: 40px;
    display: flex;
  }

  .social-logos h1 {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--black);
  }

  .social-logos span img {
    width: 100%;
    height: 100%;
  }

  .social-logos span img a {
    text-decoration: none;
  }

  .brand-logo {
    width: 60%;
    height: auto;
    margin-top: 0px
  }

  .brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer:hover .call {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover .socials {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  footer:hover form {
    transform: rotate(0deg);
    transition: transform 1s ease;
  }

  hr {
    border: 1px solid var(--cta);
    margin: 0 15px;
    margin-top: 15px;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    color: var(--text2);
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0 20px;
  }

  .copyright a {
    text-decoration: none;
    color: var(--text2);
    margin-top: 13px;
    font-size: 10px;
  }

}