body {
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Heebo", serif;
  font-style: normal;
  scroll-behavior: smooth;
}

:root {
  --background: #003366;
  --text2: #FFFFFF;
  --cta: #C9F31D;
  --black: #000;
}

/* Hero section starts here */

.hero-section {
  display: block;
  width: 100%;
  height: 80vh;
  background-image: url(/img/backgrund_darkened.jpg);
  background-position: center;
  background-size: cover;
}

.container1 {
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  color: var(--text2)
}

.container1 div {
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
  margin: 150px 0 0 0;
}

.container1 div h1 {
  font-size: 82px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.container1 div p {
  font-size: 18px;
  margin: 0;
  padding: 0px 160px;
}

/* slide section starts here */

.slide-section {
  width: 100%;
  height: 100%;
  background: var(--cta);
  overflow: hidden;
}

.container2 {
  padding: 20px 60px;
  width: auto;
  height: 100%;
  display: block;
  position: relative;
}

.container2 h2 {
  font-size: 32px;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
}


